 h2{
	text-align: center;
	font-family: 'Indie Flower', cursive;	
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    color: #304614;
	
}

.navbar-brand{
	margin-top: -75px;

}

.navbar-default{
	background-color: #fff;
	margin-top: 10px;
}

/*.all_survey{
	background-color: #86c736;
	border: 2px solid #474747;
	text-align: center;
}*/
.table_header{
	font-size: 26px;
	text-align: center;
	background-color: #86c736;
	font-weight: bold;
	   

}
tr {
	background-color: #CEE5CE ;
	text-align: center;
    
}
.btn{
	border-radius: 24px;
	font-size: 15px;
	background-color: #FF0000;
	border-color: #FF0000;
	width: 100px;
	height: 40px;
	color: #304614;
	line-height: 1;

}
.del{
	background-color: red;
	border-color: red;
}

.td_first_header{
	
	font-family: 'Indie Flower', cursive;	
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    color: #304614;

	
}
tbody tr{
	height: 60px;
  
}
a{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #0000FF;
	line-height: 1.9;
}
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}